/* Basic Styles */
body {
  background-image: url("https://github.com/rodeo12/Shayari-Generator/blob/main/frontend/images/rose1.gif?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* Removed background color for transparency */
  /* background-color: #f0f0f0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 2rem 0;
  color: #333;
}

/* Form Container */
#form-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

#keyword {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem;
  width: 300px;
  outline: none;
  transition: all 0.2s ease-in-out;
}

#generate-button {
  padding: 1rem 2rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#generate-button:hover {
  background-color: #0067cc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Shayari Container */
#shayari-container {
  padding: 1rem;
   /* Removed default border */
  border-radius: 5px;
  font-size: 1.5rem;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  color: #0a000a;
  transition: all 0.2s ease-in-out;
}




/* Optional: Add a subtle shadow effect */
#form-container, #shayari-container {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
